<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble | Home </title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link rel="icon" type="img/png" href="/images/Gabble-by-Sebastianpizarro.jpg">
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <a href="/"><img src="http://sebastianpizarro.com/wp-content/uploads/2016/05/Gabble-logo-design.jpg" alt="gabble goat"></a>
          <li><a href="/create">Create New Gab</a></li>
          <li>Welcome back, {{username}}! <a href="/login"{{^username}}</a></li>
          <form class="" action="/logout" method="post">
          <input type="submit" name="logout" value="Log Out">
          </form>
        </ul>
      </div>
    </header>
    <main>
      <h1>Create a new Gab</h1>
      {{#errors}}
        <li>{{message}}</li>
      {{/errors}}
      <div class="create-form">
        <form class="create-page" action="/create" method="post">
          <div class="create-gab">
            <textarea name="message" rows="15" cols="80" placeholder="{{username}}, speak your piece please. Do not hold your peace!"></textarea>
          </div>
            <div class="submitgab">
              <input type="submit" name="submitgab" value="Save Gab">
            </div>
        </form>
      </div>
    </main>
    <script src="/js/client.js" charset="utf-8"></script>
  </body>
</html>
